<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBR2bX5Y2ZCylTEGR4iN2KYvL4HIa6cWdQ</string>
	<key>GCM_SENDER_ID</key>
	<string>88455355485</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petlv</string>
	<key>PROJECT_ID</key>
	<string>petlv-db</string>
	<key>STORAGE_BUCKET</key>
	<string>petlv-db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88455355485:ios:4cba8d6912e4a9f38381b4</string>
	<key>DATABASE_URL</key>
	<string>https://petlv-db-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>